@{
    ViewData["Title"] = "Index";
}

<h1>Genre</h1>

<p>
    <a asp-action="Create">Add new</a>
</p>
<table id="data-table" class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_DataTablesScriptsPartial");}
    <script src="~/js/genre/index.js"></script>
}

