@model MovieLand.ViewModels.Movie.MovieCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data" id="movie-edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m=>m.Id)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalName" class="control-label"></label>
                <input asp-for="OriginalName" class="form-control" />
                <span asp-validation-for="OriginalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinAge" class="control-label"></label>
                <input asp-for="MinAge" class="form-control" />
                <span asp-validation-for="MinAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poster" class="control-label"></label>
                <input asp-for="Poster" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genres" class="control-label"></label>
                <select id="genresSelectList" data-choice placeholder="Select genres" multiple asp-for="Genres"></select>
            </div>
            <div class="form-group">
                <label asp-for="Countries" class="control-label"></label>
                <select id="countriesSelectList" data-choice placeholder="Select countries" multiple asp-for="Countries"></select>
            </div>
            @Html.Hidden("Artists[0].Name", "Director")
            <div class="form-group">
                <label for="Artists[0].Items" class="control-label">Directors</label>
                <select id="directorsSelectList" data-choice placeholder="Select directors" multiple asp-for="Artists[0].Items"></select>
            </div>
            @Html.Hidden("Artists[1].Name", "Actor")
            <div class="form-group">
                <label for="Artists[1].Items" class="control-label">Actors</label>
                <select id="actorsSelectList" data-choice placeholder="Select actors" multiple asp-for="Artists[1].Items"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Save" class="btn btn-primary" id="movie-edit-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ChoicesScriptsPartial");}
    <script src="~/js/choicesClient.js"></script>
    <script src="~/js/movie/edit.js"></script>
}
