@{
    ViewData["Title"] = "Index";
    var IsAdmin = User.IsInRole("ADMIN");
}

<h1>Movie</h1>

@if (IsAdmin) {
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table id="data-table" class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>ReleaseYear</th>
        </tr>
    </thead>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_DataTablesScriptsPartial");}
    <script src="~/js/movie/index.js"></script>
}






