<div class="d-inline-flex" style="font-size: 1.3rem;color: rgb(252, 215, 3);">
    <div id="star-rating">
    </div>
    <span id="star-rating-average" class="ml-2 font-weight-bold"></span>
</div>
<div id="star-rating-user-value">
</div>